<!-- <app-header></app-header>
<app-recipeBookLayout></app-recipeBookLayout>
<app-recipeList></app-recipeList>
<app-recipeDetail></app-recipeDetail>
<app-recipeItem></app-recipeItem>
<app-shoppingListLayout></app-shoppingListLayout>
<app-shoppingList></app-shoppingList>
<app-shoppingListEdit></app-shoppingListEdit> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipeBookLayout></app-recipeBookLayout>
      <app-shoppingList></app-shoppingList>
    </div>
  </div>
</div>